@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }

  /* Hide scrollbar for Chrome, Safari, and Edge */
  body::-webkit-scrollbar {
    display: none;
  }

  /* IE and Edge scrollbar hiding */
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
  }
  
  html {
    overflow: -moz-scrollbars-none; /* Firefox */
    overflow: hidden; /* Hide scrollbars */
  }

  .main-text{
    color: var(--text-color, "white");
  }

  .sub-text{
    color: var(--sub-text-color, "text-zinc-500");
  }

  .navbar-text{
    color: var(--navbar-text-color, "text-zinc-500");
  }

  .navbar-text:hover{
    color: var(--hover-color, "text-zinc-300");
  }
}
